* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: color #d6dce5;
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgba(214, 220, 229, 255);
}

input[type="text"],
input[type="password"] {
  width: 100%;
  height: 30px;
  background: transparent;
  border: none;
  outline: none;
  border-bottom: 1px solid black;
  color: black;
  font-size: 18px;
  align-items: center;
  justify-content: center;
  padding-left: 5px;
}

.topo {
  display: flex;

  padding: 6px;
  align-items: center;
}

.topo p {
  color: #002b7a;
  font-size: 35px;
  text-align: center;
}

.topo img {
  width: 55px;
  padding-right: 3px;
}

.container-head {
  display: flex;
  align-items: center;
}

.login a {
  text-align: right;
  padding: 0%;
}

.text-field {
  position: relative;
  margin-bottom: 20px;
}

.password-field {
  position: relative;
}

.center {
  display: flex;
  justify-content: left;
  align-items: left;
  height: 80%;
  text-align: left;
  margin-right: 5cm;
}

.caixalogin {
  display: flex;
  justify-content: left;
  align-items: left;
  height: 60%;
  text-align: left;
  border-radius: 4%;
}

.login {
  width: 600px;
  background: #ffffff;
  border-radius: 4%;
  padding: 20px 20px;
  margin-left: 5em;
}

.login h1 {
  font-size: 40px;
  color: rgba(47, 85, 151, 255);
  text-align: center;
}

.login img {
  width: 120px;
}

.label {
  font-size: 20px;
}

.bv {
  padding: 20px;
  padding-top: 10px;
  padding-left: 0;
  font-size: 18px;
  color: #ffffff;
  font-weight: bold;
}

.duvidas {
  color: rgba(171, 171, 171, 255);
  font-size: 15px;
  text-align: center;
}

input[type="submit"] {
  padding: 15px 35%;
  border-radius: 15px;
  color: #faf9f9;
  text-transform: bold;
  font-size: 22px;
  background: rgba(68, 114, 196, 255);
  margin: 20px;
  border: transparent;
  cursor: pointer;
}

.link {
  font-size: 12px;
  text-align: right;
}

.link a {
  font-size: 12px;
  text-align: right;
  color: rgba(91, 155, 213, 255);
}
